<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="35" android:compileSdkVersionCodename="15" package="com.google.android.pixel.setupwizard.overlay2024" platformBuildVersionCode="35" platformBuildVersionName="15">
    <overlay android:isStatic="true" android:priority="210" android:targetName="PixelSetupWizard" android:targetPackage="com.google.android.pixel.setupwizard"/>
    <application android:extractNativeLibs="true" android:hasCode="false" android:label="PixelSetupWizardOverlay2024"/>
</manifest>